/* Animation start text and Author */

html {
    scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}

::-moz-selection {
    background: var(--primary-800);
    color: white;
}
::-webkit-selection {
    background: var(--primary-800);
    color: white;
}
::selection {
    background: var(--primary-800);
    color: white;
}

.link-underline {
    position: relative;
}
.link-underline:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: linear-gradient(transparent, transparent),
        linear-gradient(to right, #d946ef, #ec4899);
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}
.link-underline:hover:after {
    width: 100%;
    left: 0;
    background: linear-gradient(transparent, transparent),
        linear-gradient(to right, #d946ef, #ec4899);
}

.simple-link-underline {
    position: relative;
}
.simple-link-underline:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: black;
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}
.simple-link-underline:hover:after {
    width: 120%;
    left: -10%;
    background: black;
}
